<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundSked</title>
    <link  type="text/css" rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="64x64">
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
